

/* ------------------------------------------------IMPORT AND OTHER CRAP----------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face
{ 
    font-family: 'celesttf';
    src: url('/font/Celestia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{ 

font-family: 'celeseot';
src: url('/font/Celestia.eot') format('embedded-opentype');
font-weight: normal;
font-style: normal;

}   

/* -------------------------------------------------------------------------------------------------------- */




* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;   
    color: black;
    margin: 0;
    padding: 0;
}
body
{
    height: 100vh;
    width: auto;
}

ul
{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}
ul li

{
    text-decoration-style: none;
    flex: auto;
}
ul li a
{
}
ul li a, :focus
{
   
    text-decoration: none;
    cursor: pointer;
    padding: 20px;
    outline: 0;
}
ul li a:hover
{
    transition: all 1s;
    font-weight: 600;
}

div.center
{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
}

div.center h2
{
    text-align: center;
    font-size: 80px;    
}

div.center p
{
    font-size: 20px;
}

input[type="submit"]
{
    padding: 10px 60px 10px 60px;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(50deg,#D31027,#F25F70);
    margin: 10%;
    border: 0;
    border-radius: 30px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

#signupf
{
        padding-top: 20px;  
}
#loginf
{
        padding-top: 20px;
        transition: all 0.5s;
        display: none;
        
}

input[type="text"]
{
    display: grid;
    padding: 15px 20px 15px 20px;
    border: none;
    color: black;
    margin: 30px;
    border-radius: 15px;
    background: #ffffff;
    box-shadow:  19px 19px 30px #cccccc, 
             -19px -19px 30px #ffffff;
    font-size: 15px;
}

input[type="text"]::placeholder
{
    color: #707070;
}


input[type="submit"]:focus
{
    outline: 0; 
    cursor: pointer;
}

.unselect
{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
}

.nodisplay
{
    display: none;
}


.hidden 
{ 
    opacity: 0; 
    visibility: hidden; 
    top: -10px; 
    transition-duration: 200ms, 200ms, 0; 
    transition-property: opacity, top, visibility; 
    transition-delay: 0, 0, 200ms; 
} 
.visible 
{ 
    opacity: 1; 
    visibility: visible; 
    top: 0px; 
    transition-duration: 200ms, 200ms, 0;
    transition-property: opacity, top, visibility; 
    transition-delay: 200ms, 200ms, 0; 
}



/* -------------------- FOR MOBILE ------------------------------- */
@media only screen and (min-width:320px)  
{ 
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
    div.center h2
    {
        font-size: 70px;
    }
    
    div.center p
    {
        font-size: 15px;
        text-align: center;
    }


}
@media only screen and (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media only screen and (min-width:500px)  
{ 
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
    
    div.center h2
    {
        font-size: 70px;
    }
    
    div.center p
    {
        font-size: 15px;
        text-align: center;
    }
}
@media only screen and (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media only screen and (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media only screen and (min-width:1281px) { /* hi-res laptops and desktops */ }
/*------------------------------------------ */